@model Database_First_Approach.Models.Customer

<h2>Customer Details</h2>

Customer ID : @Model.CustomerID
<br />
Company Name : @Model.CompanyName
<br />
Contact Name : @Model.ContactName
<br />
Country : @Model.Country


