@model Code_First_Approach.Models.Movies

<h2>Movie Details</h2>

<p><b>Movie Name:</b> @Model.MovieName</p>
<p><b>Director:</b> @Model.DirectorName</p>
<p><b>Date Of Release:</b> @Model.DateOfRelease</p>

<br />
@Html.ActionLink("Back to List", "Index")

